# Data (downloaded and generated)
data/raw/
data/processed/
data/chroma/
data/sample_images/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
src/tests/test_extract_ingredients.py
src/tests/test_extract_ingredients.ipynb

# IDE
.idea/
*.swp
.env
__pycache__/
